.message {
    border: 2px solid #ccc;
    width: 300px;
    margin: 24px auto;
    border-radius: 11px;
}
.author {
    font-size: 9px;
    color: blueviolet;
    text-align: left;
    padding: 0 0 0 6px;
}
.messageText {
    font-size: 15px;
    color: darkblue;
}
